{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div class="mx-auto max-w-4xl mt-24">
        <h1 class="text-6xl md:text-8xl text-center"><<span class="text-blue-600">/</span>> htm<span class="text-blue-600">x</span></h1>
        {{ include('fragment/login.html.twig') }}
    </div>
{% endblock %}
