{% extends 'base.html.twig' %}

{% block body %}
    <div id="tabs" hx-get="{{ path('fragment_settings') }}" hx-trigger="load delay:100ms" hx-target="#tabs" hx-swap="innerHTML" class="mx-auto max-w-5xl bg-white rounded m-1 pt-2 h-[1000px]">

    </div>
{% endblock %}
