<div
    id="tabs"
    class="mx-auto max-w-5xl bg-white rounded m-1 pt-2 h-[770px]"
    hx-trigger="load delay:100ms"
    hx-post="{{ path('feed_full') }}"
    hx-target="#tabs"
    hx-swap="innerHTML"
>
</div>
