{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div>
        Hello world, I am the home page.
    </div>
    <div hx-get="/switch">Click this div</div>
{% endblock %}
